.searchbar {
  position: fixed;

  &__input {
    border: none;
    color: $text-primary;
    background-color: rgba($color-grey, .2);
    border-radius: 5rem;
    padding: .5rem 4rem;
    border: 1px solid transparent;
    z-index: 1;
    transition: all .7s;

    &:focus {
      outline: none;
      border: 1px solid $color-secondary
    }

  }


  &__icon {
    position: relative;
    left: 3rem;
    transition: all .7s;
  }

  &:focus-within &__icon {
    color: $color-secondary;
  }
}