.home {
  max-width: 33vw;

  &__header {
    margin-bottom: 1rem;
  }

  &__btn {
    color: $text-secondary;
    transition: background-color .5s;
    width: calc(33vw / 2);
    padding: .7rem 0;

    &:hover {
      background-color: rgba($color-grey, .2);
    }

    &-active {
      color: $text-primary;
      border-bottom: 2px solid $color-secondary;
    }
  }
}